<app-header title="Avaliacoes de produto" [buttonLink]="'/produtos/' + product_id + '/avaliacoes/novo'" buttonText="Inserir novo"></app-header>
<div class="row mt-3">
    <div class="col-12">
         <app-alert #alert></app-alert>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Nome</th>
                <th>Nota</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let item of items">
                <th>{{ item.id }}</th>
                <th>{{ item.product_id }} - {{ item.product_name }}</th>
                <th>{{ item.name }}</th>
                <th>{{ item.grade }}</th>
                <th>
                    <div class="btn-group">
                        <a [routerLink]="'/produtos/' + item.product_id + '/avaliacoes/' + item.id" class="btn btn-success">Editar</a>
                        <button (click)="delete(item.id)" class="btn btn-danger">Excluir</button>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>